MONGODB_URL=YOUR MONGODB DATABASE URL

PORT=6000

ACCESS_TOKEN=hgjsjdhgh876878768aDHJHAD
ACCESS_TOKEN_EXPIRY=2h

REFRESH_TOKEN=hgjsjdhgh8768
REFRESH_TOKEN_EXPIRY=1d


CLOUDINARY_CLOUD_NAME=YOUR CLOUD NAME
CLOUDINARY_API_KEY=YOUR API KEY
CLOUDINARY_API_SECRET=YOUR API SECRET